{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
	<!-- The Band Section -->
	<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
		<h2 class="w3-wide">{{ selectedCategory.name }}</h2>
		<p class="w3-opacity"><i>ProduitsMobilier.store</i></p>
		<p class="w3-justify">{{ selectedCategory.description }}</p>
		<div class="w3-row w3-padding-32">
			{% for product in products %}
				<div class="w3-third">
					<p>{{ product.name }}</p>
          <a href="{{ path('product_display', {'productId' : product.id}) }}" >
					<img src="{{ asset('assets/img/' ~ product.thumbnail) }}" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
          </a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
